body {
    background-color: #C0C0C0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family: sans-serif;
}

.top {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

#rollButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; 
}

.output {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
